.container {
	position: fixed;
	left: 0;
	width: 616px;
	height: 100%;
	transform: translate(-616px);
	transition: transform 0.5s ease;
}

.container_open {
	transform: translate(0);
}

.form {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	box-sizing: border-box;
	overflow: auto;
	width: 100%;
	height: auto;
	min-height: 100%;
	padding: 50px 31px;
	background-color: #ffffff;
	border-right: 1px solid #000000;
}

.upperContainer {
	display: flex;
	flex-direction: column;
	row-gap: 49px;
	margin-block: 47px 45px;
}

.lowerContainer {
	display: flex;
	flex-direction: column;
	row-gap: 47px;
	margin-block-start: 50px;
}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	column-gap: 195px;
	margin-block-start: auto;
}
